{% extends "base.html" %} {% load thumbnail %}
<!-- pritier ignore -->
{% block title %}People{%endblock %} {% block content %}
<h1>People</h1>
<div id="people-list">
  {% for user in users %} {% if user.profile.photo %}
  <div class="user">
    <a href="{{ user.get_absolute_url }}">
      <img src="{% thumbnail user.profile.photo 180x180 %}" alt="My Picture" />
    </a>

    <div class="info">
      <a href="{{ user.get_absolute_url }}" class="title">
        {{ user.get_full_name }}
      </a>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
